$primary-color: #000000;
$secondary-color: #8c8c8c;
$third-color: #ff6b08;
$front-color: #ffffff;
$action-message-color: #ff001b;
$bg-color-futer: #f7f7f7;

$header-gradient-color: rgba(0, 0, 0, 0.56);
// Fonts
$font-primary: "Roboto", sans-serif;

// Weight
$fw-regular: 400;
$fw-medium: 500;
$line-height: 1.16;

// Width-container
$w-desktop: 1024px;
$w-tablet: 768px;
$w-mobile: 320px;

.container {
  width: 100%;

  @media screen and (min-width: $w-mobile) {
    width: $w-mobile;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: $w-tablet) {
    width: $w-tablet;
  }

  @media screen and (min-width: $w-desktop) {
    width: $w-desktop;
  }
}

.content {
  padding-top: 60px;
  /* min-height: calc(100vh - 77px); */
  position: relative;
}

ul {
  padding: 0;
  list-style: none;
}

.movie-list {
  @media (min-width: $w-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
